<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">    
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="content_wrapper">
        <div id="projects">
            <ul>
                <li v-for="project in repository_projects" v-bind:value="project.id"
                @click="id_selected_project = $event.target.value" > <!--значение переменной по клику-->
                    {{ project.name }}                    
                </li>
                {{ id_selected_project }}               
                <li>
                    <!--созддание проекта-->
                    <tr>
                        <td><input type="text" placeholder="Название проекта"></td>
                        <td><input type="submit" value="начать"></td>
                    </tr>
                </li>                             
            </ul>
        </div>

        <div id="tasks">
            {{ id_selected_project }}
            
            <div id="projects_menu"><input type="submit" value="редактирование">
                <input type="submit" value="удаление">
                <input type="submit" value="добавить задачу">
                <input type="submit" value="считать выполненым">
            </div>
            <table class="tasks_table">                
                <tr v-for="tasks in tasks_selected_project"><!--условие цикла по переменной-->
                    <td>{{ tasks.name }}</td>
                    <td>Проект№:</td>
                    <td>{{tasks.id_project}}</td> 
                    <td>удалить</td> 
                    <td>Выполнено</td> 
                </tr>                              
            </table>
        </div>
    </div>  
    <script src="./working_method.js"></script>
    <script src="./index.js"></script>  
</body>
</html>